@import url(/css/fonts.css);
@import url(../css/global.css);
html body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/*=============== Nave menu============ */
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
  padding: -1rem 10rem;
}

.header-area .main-menu .nav-item .nav-link {
  font-family: "Roboto", cursive;
  text-transform: uppercase;
  padding: 1.7rem;
  color: #141313;
  font: normal 500 12px/2px;
}

.header-area .main-menu .navbar-nav .active a {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*===============End of NAv============*/
/*===================== Banner area ====================*/
.site-main .site-banner {
  background: url(../imgs/banner/home-banner.png) no-repeat;
  background-position: 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background-color: black;
  display: inline-block;
  margin-left: 3%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/*================== global================== */
/* Global Classes */
.text-uppercase {
  text-transform: uppercase;
}

.font-roboto {
  font-family: "Roboto", cursive;
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.title-h1 {
  font: normal bold 39px/40px "Roboto", cursive;
}

.navbar_fixed {
  position: fixed;
  widows: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  z-index: 999;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

/* Buttons */
.button {
  padding: .8rem 2.2rem;
  font: normal 500 16px/20px "Roboto", cursive;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  background-clip: padding-box;
  color: whitesmoke;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
  -webkit-box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
          box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after, .button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  content: ' ';
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  -webkit-transition: background .6s ease;
  transition: background .6s ease;
}

.button.secondary-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#4458dc), to(#854fee));
  background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  color: whitesmoke;
  -webkit-box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
          box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

p.para {
  color: #777777;
  font: normal 500 16px/25px "Roboto", cursive;
}

/*===================== End Banner area ====================*/
/*===================== Srart about  area ====================*/
.site-main .about-area {
  padding: 8px 5rem;
  height: 750px;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px "Roboto", cursive;
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: .4rem 0;
}

/*===================== End About area ====================*/
/*===================== start brand area ====================*/
.site-main .brand-area {
  padding: 1rem 20px;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 .singal-brand {
  border: 1px solid #201f1f17;
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 1rem;
  width: 180px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 .singal-brand img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 .singal-brand:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 .singal-brand:hover img {
  -webkit-filter: brightness(0.15);
          filter: brightness(0.15);
}

.site-main .brand-area .experince-area {
  padding-left: 1rem;
}

.site-main .brand-area .experince-area span {
  display: block;
}

.site-main .brand-area .experince-area .years-area {
  background: url(../imgs/client-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0rem;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experince-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .brand-area .experince-area .years-area .years {
  font: normal bold 84px/40px "Roboto", cursive;
  color: #4458dc;
  z-index: 2;
}

.site-main .brand-area .experince-area .years-area h2 span {
  font: normal 600 22px/30px "Roboto", cursive;
}

.site-main .brand-area .experince-area .call-area {
  padding-left: 10rem;
}

/*===================== End brand area ====================*/
/*===================== Start Serviecs area ====================*/
.site-main .services-area {
  padding: 8rem 2rem;
}

.site-main .services-area .services-title {
  padding: 0.14rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem .5rem;
  -webkit-transition: -webkit-box-shadow .7s ease;
  transition: -webkit-box-shadow .7s ease;
  transition: box-shadow .7s ease;
  transition: box-shadow .7s ease, -webkit-box-shadow .7s ease;
}

site-main .services-area .services:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

/*===================== End services area ====================*/
/*===================== Start porject area ====================*/
.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px "Roboto", cursive;
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button {
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px "Roboto", cursive;
}

.site-main .project-area .grid .our-project .img a:hover img {
  -webkit-filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
          filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/*===================== End project area ====================*/
/* Client area*/
.site-main .about-area .about-title p {
  padding: 1rem 7rem;
}

.site-main .about-area .client {
  background: #ffffff10;
  -webkit-box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
          box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  margin: 4rem 0rem;
}

.site-main .about-area .client .client-img {
  padding: 2rem;
}

.site-main .about-area .client .about-client {
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4 {
  font: normal 500 21px/20px "Roboto", cursive;
}

.site-main .about-area .client .about-client p {
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #4458dc;
  width: 12px;
  height: 12px;
}

/* end Client area*/
/*=================== suscribe ================== */
.site-main .subscribe-us-area .subscribe {
  background: url(../imgs/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px "Roboto", cursive;
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px "Roboto", cursive;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::-webkit-input-placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input:-ms-input-placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::-ms-input-placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background-color: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
}

/*=================== End suscribe ================== */
/* footer */
.p-span {
  color: #4458dc;
}

.final-area {
  padding: 5rem 0rem;
  background-image: url(../imgs/footer-bg.png) no-repeat;
}

.final-area .social h5 {
  font: normal 500 23px/30px "Roboto", cursive;
}

.final-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: #201f1f17;
}

.final-area .social a:hover > i {
  color: #4458dc;
}
/*# sourceMappingURL=style.css.map */